@charset "utf-8";
label.errorLabel{color:#ea5200; margin-left:4px; padding:5px 25px; background:url(../images/unchecked.gif) no-repeat 2px 2px; }
label.validLabel{color:#ea5200; margin-left:4px; padding:5px 25px; background:url(../images/checked.gif) no-repeat 2px 2px;}
.gao_indx_shou li label.errorLabel{float:none;background: url(../images/unchecked.gif) no-repeat 2px 2px;}
.gao_indx_shou li label.validLabel{float:none;background: url(../images/checked.gif) no-repeat 2px 2px;}
.gao_mai_along label.errorLabel{background:url(../images/unchecked.gif) no-repeat 2px 10px;float: left}
.gao_mai_along label.validLabel{background:url(../images/checked.gif) no-repeat 2px 10px;float: left}

