/* 弹窗设置1 */
body{position: relative;}
.z_graybg{width:100%;position: fixed; top:0; left: 0; z-index: 9;background:rgba(0,0,0,0.5); background-color: #000\0; filter: alpha(opacity=50);background-color: #000;opacity:0.5;*filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);*background-color:transparent;}
.z_seltory{width:474px;height:206px;border:3px solid #ededed;background-color: #fff;position: absolute;z-index: 10;text-align: center;}
.z_seltory p{width:100%;text-align: center;font-size: 18px;color: #222;line-height: 206px;}
.z_seltory span{font-size: 18px;color: #222;/*background: url(../images/z_tanhao.png) no-repeat 150px center;*/padding-left: 30px;display:block;margin:55px 0 50px;}
 .z_ascertain,.z_aconcle{width:88px;height:30px;line-height: 30px;text-align: center;font-size: 12px;color: #fff;background-color: #ff5a00;margin:0 8px;cursor: pointer;}
 .z_aconcle{background-color: #ccc;}