<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>接收页面</title>
</head>
<body>
    <img id="receiver" style="width:320px;height:240px"/>

    <script type="text/javascript" charset="utf-8">
        var receiver_socket = new WebSocket("ws://192.168.102.163:9503");
        var image = document.getElementById('receiver');
        receiver_socket.onmessage = function(data)
        {
            image.src=data.data;
        }
    </script>
</body>
</html>
